/* Thumbnail Styles */

.thumbnails a {
	float: left;
	width: 10%;
	padding-right: 15px;
	margin-bottom: 15px;
	box-sizing: border-box;
}

.thumbnails img {
	display: block;
	transition: all .2s ease-in-out;
	height:100px;
	width:100px;
}

.thumbnails:hover img {
	opacity: .6;
	transform: scale(.92);
}

.thumbnails img:hover {
	opacity: 1;
	transform: scale(1) rotate(2deg);
	box-shadow: 0 0 7px rgba(0, 0, 0, .5);
	
}